h1= title
p Welcome to #{title}
textarea#text(width="400",height="200")
input#msg(type='text')
label#lab#{user}
input#say(type='button',value='say')
canvas#line(width="800",height="600")
canvas#can(width="800",height="600")
