!!! 5
html(lang='en')
  head
    title= title
    script(src='/javascripts/jquery.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/connect.js')
    script(src='/javascripts/resource.js')
    script(src='/javascripts/index.js')
    script(src='/javascripts/gameArray.js')
    script(src='/javascripts/sprite.js')
    script(src='/javascripts/animation.js')
    script(src='/javascripts/mouseEvent.js')
    script(src='/javascripts/game.js')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    header
      h2 在线对对碰 
      nav
        ul
          li
            a(href="#")
              div#sounddiv
                img#sound(src='/images/sound.png',height="30px")
          li
            a#selectPatten(href="#")
              选择模式
          li
            a(href="/info")
              关于
          li
            a(href="/logout")
              退出 
    aside.aside-left
      div#person1
        img(src=user.profile_image_url,title=user.id)
        a(href='http://weibo.com/'+user.profile_url)
          p #{user.name}
      div#person2
        img#aimPic(src='/images/notlogin.jpg')
        a#aimUrl(href='http://weibo.com/'+user.profile_url)
          p#aimName
    section.gameArea
      canvas#backgroundCanvas(width="480",height="500")
      canvas#can(width="480",height="530")
    aside.aside-right
      textarea#chatbox(readonly="true")
      input#chatMsg(type="input")
    div.progress-bar.blue.stripes
      span#progress-span(style="width:0%")
    div.overlay
    div.popup
      div.patten(hidden)
        a#random(href="#")
          img(src="/images/random.png")
          p 随机模式
      div.patten(hidden)
        a#contact(href="#")
          img(src="/images/contact.png")
          p 邀请好友
      p#popupMsg 与服务器连接中...
      button.close
