!!! 5
html(lang='en')
  head
    title= title
    link(rel="stylesheet",style="text/css",href="/stylesheets/info.css")
  body
    header
    section#main
      img(src="/images/nodejs-2560x1440.png")
    aside
      section
        article
          p对对碰是一款经典的消除类游戏，玩家只要通过点击砖块来使砖块之间互相还位，连成3个以上的砖块来消除得分。
          p玩家选择两个头像进行位置互换，互换后如果横排或竖排有 3 个以上相同的头像，则消去这几个相同的头像，如果互换后没有可以消去的头像，则选中的两个头像换回原来的位置。消去后的空格由上面的头像掉下来补齐。每次消去头像玩家都能得到一定的分数 
          a(href="/login")
            img(src="/images/sina.png")
    footer
