!!! 5
html(lang='en')
  head
    title= title
    script(src='/javascripts/jquery.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/index.js')
    script(src='/javascripts/gameArray.js')
    script(src='/javascripts/sprite.js')
    script(src='/javascripts/animation.js')
    script(src='/javascripts/mouseEvent.js')
    script(src='/javascripts/game.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
