*{
	margin:0;
	border:0;
}
body{
	margin:0 auto;
	width:960px;
	background:url('../images/bg.jpg') repeat;
	font-family:Arial;
}
header{
	position:absolute;
	background:#52555c;
	display:block;
	z-index:1;
	top:0;
	left:0;
	width:100%;
	height:45px;
	opacity:0.8;
}
header h2{
	margin:0px 0 0px 200px;
	font-size:30px;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
header nav{
	position:absolute;
	top:5px;
	left:350px;
}
header nav ul{
	list-style:none;
	width:500px;
	height:40px;
}
header nav li{
	position: relative;
	float:left;
	margin:0 5px;
	height:40px;
	padding:7px 6px 0;
	list-style:none;
}
header nav li a{
	text-decoration:none;
	line-height:33px;
	margin-right:20px;
	width:80px;
	font-size:14px;
	float:left;
	text-align:center;
	display:block;
	color:#777;
}
header nav li a:hover{
	color:#fff;
	-webkit-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-o-transform:scale(1.2);
	transform:scale(1.2);
}
#sounddiv{
	position:absolute;
	height:30px;
	width:30px;
	overflow:hidden;
}
#sound{
	position:absolute;
	left:0px;
}
.aside-left{
	float:left;
	margin:70px 10px 10px 0px;
	width:18%;
	height:500px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	box-shadow:0px 0 50px #ccc;
	-webkit-box-shadow:0px 0 50px #ccc;
	-moz-box-shadow:0px 0 50px #ccc;
	background:#eee;
	-webkit-animation-name:aside-left-down;
	-webkit-animation-duration:2s;
	-webkit-timing-function:ease-in;
	-moz-animation-name:aside-left-down;
	-moz-animation-duration:2s;
	-moz-timing-function:ease-in;
	-ms-animation-name:aside-left-down;
	-ms-animation-duration:2s;
	-ms-timing-function:ease-in;
	-o-animation-name:aside-left-down;
	-o-animation-duration:2s;
	-o-timing-function:ease-in;
	animation-name:aside-left-down;
	animation-duration:2s;
	timing-function:ease-in;
}
@-webkit-keyframes aside-left-down{
	0% {margin-top:-210px;}
	20% {margin-top:-170px;}
	40% {margin-top:-110px;}
	60% {margin-top:-50px;}
	80% {margin-top:10px;}
	100% {margin-top:70px;}
}
@-moz-keyframes aside-left-down{
	0% {margin-top:-210px;}
	20% {margin-top:-170px;}
	40% {margin-top:-110px;}
	60% {margin-top:-50px;}
	80% {margin-top:10px;}
	100% {margin-top:70px;}
}
@-ms-keyframes aside-left-down{
	0% {margin-top:-210px;}
	20% {margin-top:-170px;}
	40% {margin-top:-110px;}
	60% {margin-top:-50px;}
	80% {margin-top:10px;}
	100% {margin-top:70px;}
}
@-o-keyframes aside-left-down{
	0% {margin-top:-210px;}
	20% {margin-top:-170px;}
	40% {margin-top:-110px;}
	60% {margin-top:-50px;}
	80% {margin-top:10px;}
	100% {margin-top:70px;}
}
@keyframes aside-left-down{
	0% {margin-top:-210px;}
	20% {margin-top:-170px;}
	40% {margin-top:-110px;}
	60% {margin-top:-50px;}
	80% {margin-top:10px;}
	100% {margin-top:70px;}
}
#person1{
	margin:10px 5px 40px 5px;
	padding:5px;
	height:200px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	box-shadow:0px 0 50px #ccc;
	-webkit-box-shadow:0px 0 50px #ccc;
	-moz-box-shadow:0px 0 50px #ccc;
}
#person2{
	margin:5px;
	padding:5px;
	height:200px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	box-shadow:0px 0 50px #ccc;
	-webkit-box-shadow:0px 0 50px #ccc;
	-moz-box-shadow:0px 0 50px #ccc;
}
#person1 img,#person2 img{
	margin:5px;
}
#person1 a,#person2 a{
	display:block;
	margin:5px;
	text-decoration:none;
	color:#000;
}
#person1 a:hover,#person2 a:hover{
	color:#777;
}
#person1 a p,#person2 a p{
	font-family:Arial;
	font-size:14px;
}
.info{
	position:relative;
	top:5px;
	right:10px;
	float:right;
	overflow:hidden;
}
.info p{
	font-family:Arial;
	font-size:12px;
}
.score{
	margin:10px;
	position:relative;
	height:100px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	box-shadow:0px 0 50px #ccc;
	-webkit-box-shadow:0px 0 50px #ccc;
	-moz-box-shadow:0px 0 50px #ccc;
}
#score1{
	padding:10px;
	font-family:Arial;
	font-weight:100;
	font-size:70px;
	text-decoration:none;
	text-align:center;
}
#score2{
	padding:10px;
	font-family:Arial;
	font-weight:100;
	font-size:70px;
	text-decoration:none;
	text-align:center;
}
.gameArea{
	float:left;
	position:relative;
	width:50%;
	margin:10px 10px 0px 0;
	padding:5px 10px 10px 5px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:20px;
	box-shadow:0px 0 50px #ccc;
	-webkit-box-shadow:0px 0 50px #ccc;
	-moz-box-shadow:0px 0 50px #ccc;
	background:url('../images/bg.jpg') repeat;
}
#can{
	position:absolute;
	top:0;
	margin:20px 10px 0px 0px;
}
#backgroundCanvas{
	position:absolute;
	margin:60px 0 0 0;
	top:0;
	background:url('../images/canback.jpg');
	opacity:0.8;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:20px;
	box-shadow:0px 0 50px #ccc;
	-webkit-box-shadow:0px 0 50px #ccc;
	-moz-box-shadow:0px 0 50px #ccc;
}
#coverImg{
	position:absolute;
	top:0;
	left:0;
	width:500px;
	height:60px;
}
.aside-right{
	float:left;
	margin:70px 0px 10px 0;
	width:28%;
	height:500px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	box-shadow:0px 0 50px #ccc;
	-webkit-box-shadow:0px 0 50px #ccc;
	-moz-box-shadow:0px 0 50px #ccc;
	background:#f8f8f8;
	-webkit-animation-name:aside-left-down;
	-webkit-animation-duration:2s;
	-webkit-timing-function:ease-in;
	-moz-animation-name:aside-left-down;
	-moz-animation-duration:2s;
	-moz-timing-function:ease-in;
	-ms-animation-name:aside-left-down;
	-ms-animation-duration:2s;
	-ms-timing-function:ease-in;
	-o-animation-name:aside-left-down;
	-o-animation-duration:2s;
	-o-timing-function:ease-in;
	animation-name:aside-left-down;
	animation-duration:2s;
	timing-function:ease-in;
}
#chatbox{
	width:85%;
	height:380px;
	color:#666;
	font-size:14px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	margin:10px;
	padding:10px;
	border:#999 1px solid;
	transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	box-shadow:0 0 5px rgba(81,203,238,0);
	-moz-box-shadow:0 0 5px rgba(81,203,238,0);
	-webkit-box-shadow:0 0 5px rgba(81,203,238,0);
	background:#eee;
}
#chatbox:focus{
	background:#eee;
	outline:none;
	border:#35a5e5 1px solid;
	box-shadow:0 0 5px rgba(81,203,238,1);
	-moz-box-shadow:0 0 5px rgba(81,203,238,1);
	-webkit-box-shadow:0 0 5px rgba(81,203,238,1);
}
#chatMsg{
	width:88%;
	color:#666;
	font-size:14px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	margin:0px 10px 10px 10px;
	padding:5px;
	border:#999 1px solid;
	transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	box-shadow:0 0 5px rgba(81,203,238,0);
	-moz-box-shadow:0 0 5px rgba(81,203,238,0);
	-webkit-box-shadow:0 0 5px rgba(81,203,238,0);
}
#chatMsg:focus{
	color:#000;
	outline:none;
	border:#35a5e5 1px solid;
	box-shadow:0 0 5px rgba(81,203,238,1);
	-moz-box-shadow:0 0 5px rgba(81,203,238,1);
	-webkit-box-shadow:0 0 5px rgba(81,203,238,1);
}
.overlay{
	background-color:rgba(0,0,0,0.6);
	border:0;
	cursor:default;
	left:0;
	opacity:0;
	height:100%;
	position:fixed;
	right:0;
	top:0;
	visibility:hidden;
	z-index:2;

	-webkit-transition:opacity .5s;
	-moz-transition:opacity .5s;
	-ms-transition:opacity .5s;
	-o-transition:opacity .5s;
	transition:opacity .5s;

}
.popup{
	background-color: #fff;
	border:3px solid #fff;
	display: inline-block;
	left: 50%;
	opacity: 0;
	padding: 5px;
	position:fixed;
	text-align:justify;
	top:40%;
	visibility:hidden;
	z-index:3;

	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);

	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;

	-webkit-box-shadow:0 1px 1px 2px rgba(0,0,0,0.4) inset;
	-moz-box-shadow:0 1px 1px 2px rgba(0,0,0,0.4) inset;
	-ms-box-shadow:0 1px 1px 2px rgba(0,0,0,0.4) inset;
	-o-box-shadow:0 1px 1px 2px rgba(0,0,0,0.4) inset;
	box-shadow:0 1px 1px 2px rgba(0,0,0,0.4) inset;

	-webkit-transition:opacity .5s,top .5s;
	-moz-transition:opacity .5s,top .5s;
	-ms-transition:opacity .5s,top .5s;
	-o-transition:opacity .5s,top .5s;
	transition:opacity .5s,top .5s;
}
.popup .patten p{
	float:right;
	margin-top:20px;
	font-size:18px;
}
.popup .patten{
	margin:5px;
	padding:5px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	box-shadow:0px 0 50px #ccc;
	-webkit-box-shadow:0px 0 50px #ccc;
	-moz-box-shadow:0px 0 50px #ccc;
}
.popup .patten a{
	display:block;
	text-decoration:none;
	color:#000;
}
.popup .patten a:hover{
	color:#777;
	background:#ccc;
}
.popup p#popupMsg{
	width:250px;
	margin:10px;
	font-size:14px;
}
.close{
	background-color: rgba(0,0,0,0.8);
	height:30px;
	line-height:30px;
	position:absolute;
	right:0;
	text-align:center;
	text-decoration:none;
	top:-15px;
	width:30px;
	
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-ms-border-radius:15px;
	-o-border-radius:15px;
	border-radius:15px;
}
.close:before{
	color:rgba(255,255,255,0.9);
	content:'X';
	font-size:24px;
	text-shadow:0 -1px rgba(0,0,0,0.9);
}
.close:hover{
	background-color:rgba(64,128,128,0.8);
}
.progress-bar{
	position:relative;
	background-color: #1a1a1a;
	background:url('../images/bg.jpg');
	top:280px;
	left:250px;
	height: 25px;
	padding: 5px;
	width: 350px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:0 1px 5px #000 inset,0 1px 0 #444;
	-webkit-box-shadow:0 1px 5px #000 inset,0 1px 0 #444;
	box-shadow:0 1px 5px #000 inset,0 1px 0 #444;
}
.progress-bar span{
	position:absolute;
	top:5px;
	left:5px;
	display: inline-block;
	height:25px;
	width:200px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.5) inset;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,.5) inset;
	-box-shadow:0 1px 0 rgba(255,255,255,.5) inset;
	-webkit-transition: width .4s ease-in-out;
	-moz-transition: width .4s ease-in-out;
	-ms-transition: width .4s ease-in-out;
	-o-transition: width .4s ease-in-out;
	transition: width .4s ease-in-out;
}
.blue span{
	background-color: #34c2e3;
}
.stripes span{
	-webkit-background-size:30px 30px;
	-moz-background-size:30px 30px;
	background-size:30px 30px;
	background-image:-webkit-gradient(linear,left top,right bottom,color-stop(.25,rgba(255,255,255,.15)),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(255,255,255,.15)),color-stop(.75,rgba(255,255,255,.15)),color-stop(.75,transparent));
	background-image:-moz-linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image:-ms-linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image:-o-linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image:linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	-webkit-animation:animate-stripes 3s linear infinite;
	-moz-animation:animate-stripes 3s linear infinite;
}
@-webkit-keyframes animate-stripes{
	0% {background-position:0 0;} 100% {background-position:60 0;}
}
@-moz-keyframes animate-stripes{
	0% {background-position:0 0;} 100% {background-position:60 0;}
}
